:root {
    --grid-template-columns: "16px 8fr 16px";
    --grid-template-rows: "16px 8fr 16px";
    --cursor: default;
}

* {
    cursor: url('./cursor_hand_a_16x16.png'), auto;
}

div.clickEffect {
    cursor: url('./cursor_hand_b_16x16.png'), auto;
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
    animation: clickEffect 0.4s ease-out;
    z-index: 99999;
}

@keyframes clickEffect {
    0% {
        opacity: 0;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width: 0.5em;
    }

    100% {
        opacity: 0.0;
        width: 15em;
        height: 15em;
        margin: -7.5em;
        border-width: 0.03em;
    }
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 0.5fr;
    grid-template-rows: 0.5fr 2.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "main-top-bar main-top-bar main-top-bar"
        "main-left-bar main-center main-right-bar"
        "main-bottom-bar main-bottom-bar main-bottom-bar";
}

.main-top-bar {
    grid-area: main-top-bar;
    display: flex;
    gap: 5vw;
}

.main-left-bar {
    grid-area: main-left-bar;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 5vw;
}

.main-left-bar img {
    max-width: 100%;
    max-height: 13vh
}

.main-right-bar {
    grid-area: main-right-bar;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.main-bottom-bar {
    grid-area: main-bottom-bar;
}

.main-center {
    grid-area: main-center;
}

/* .main-center img {
    max-width: 100%;
    max-height: 60vh;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.info-list {
    list-style-type: none;
    display: flex;
}

.worker img {
    max-width: 100%;
    height: auto;
}

.worker-list {
    flex-wrap: wrap;
}

.worker {
    flex-basis: 50%;
}

.icon {
    font-size: 3em;
}

.main-left-bar img {
    max-width: 50%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "corner-a top corner-b"
        "left core right"
        "corner-d bottom corner-c";
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);
    height: 45vh;
}

.grid-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.corner-a {
    grid-area: corner-a;
}

.top {
    grid-area: top;
}

.corner-b {
    grid-area: corner-b;
}

.right {
    grid-area: right;
}

.core {
    grid-area: core;
    display: flex;
    flex-direction: column;
}

.core ul {
    list-style-type: none;
    display: flex;
    gap: 1vw;
}

.core button {
    font-size: 3rem;
}

.left {
    grid-area: left;
}

.corner-d {
    grid-area: corner-d;
}

.bottom {
    grid-area: bottom;
    background-repeat: repeat-x;
    background-position: center;
}